.form {
    position: absolute;
    width: 400px;
    background-color: var(--light-color);
    color: var(--dark-color);
    height: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: .2s;
    box-shadow: 0px 5px 10px var(--grey-color);
    z-index: 100;
}

.form.--show {
    padding: 20px 50px;
}

.form__login.--show {
    height: 300px;
}

.form__register.--show {
    height: 550px;
}

.form__post.--show {
    width: 600px;
    height: 450px;
}

.form__close {
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    outline: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    transition: .2s;
}

.form__close::before,
.form__close::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 2px;
    background-color: var(--dark-color);
    transition: .2s;
}

.form__close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.form__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.form__close:hover {
    background-color: var(--red-color);
}

.form h5 {
    margin: 5px 10px;
    position: absolute;
    text-align: left;
    left: 40px;
    transition: .2s;
    cursor: text;
}

.form__row {
    display: block;
    position: relative;
    margin: 30px auto;
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid var(--dark-color);
    transition: .2s;
}

.form__row::before, .form__row::after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: var(--blue-color);
	transition: .4s;
}

.form__row::before{
	right: 50%;
}

.form__row::after{
	left: 50%;
}

.form__row.--focus::before, .form__row.--focus::after{
	width: 40%;
}

.form > div,
.form__post .form__row {
    width: 100%;
}

.form__row .input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 50px;
    border: 0;
    background-color: transparent;
    outline: 0;
}

.form__row .input__radio .input {
    width: inherit;
}

.form__row .input__radio {
    width: 40%;
    display: inline-block;
    opacity: 0;
    padding: 5px 0;
    cursor: pointer;
}

.form__row.--focus .input__radio {
    opacity: 1;
}

.form__row .input__date {
    opacity: 0;
}

.form__row.--focus .input__date {
    opacity: 1;
}

.form__row textarea.input {
    resize: none;
    height: 200px;
    padding-right: 0;
}

.form__row.--focus h5 {
    transform: translate(0, -30px) scale(.7);
}

.form__row .fas,
.form__row .far {
    position: absolute;
    top: 7px;
    transition: .2s;
}

.form__row .fas {
    left: 10px;
}

.form__row.--focus .fas {
    color: var(--blue-color);
}

.form__row .far.fa-eye,
.form__row .far.fa-eye-slash {
    position: absolute;
    cursor: pointer;
    right: 10px;
}

.form__row .far.fa-eye:hover,
.form__row .far.fa-eye-slash:hover {
    color: var(--blue-color);
    transform: scale(.9);
}

.form__row.--error::before,
.form__row.--error::after {
    width: 40%;
    background-color: var(--red-color);
}

.form__row.--error .fas {
    color: var(--red-color);
}

.form__row.--error .error__field {
    white-space: nowrap;
    font-size: .7rem;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--red-color);
}

.guardian {
    display: none;
}

.submit {
    display: block;
    margin: 10px auto;
    border: 0;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--blue-color);
    color: var(--dark-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: .2s;
    box-shadow: 0 -2px 2px rgba(255,255,255, .5),
                0 3px rgba(0,0,0, .5);
}

.submit:hover {
    color: var(--light-color);
    box-shadow: 0 2px 2px rgba(255,255,255, .5),
                0 -3px rgba(0,0,0, .5);
    transform: scale(.9);
}

.forgot {
    font-size: 0.8em;
    color: var(--main-dark-color);
    text-decoration: none;
    font-weight: bold;
    transition: .2s;
}

.forgot:hover {
    color: var(--red-color);
}

/* .form__row.error-field::before,
.form__row.error-field::after {
    width: 40%;
    background-color: var(--red-color);
}

.form__row.error-field .fas {
    color: var(--red-color);
} */