header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    background-color: var(--light-color);
    display: flex;
}

.main__nav {
    flex-grow: 1;
    height: 50px;
    display: flex;
    font-size: 1.5rem;
    background-color: var(--light-color);
}

.main__nav--active {
    display: flex;
}

.logo {
    width: 50px;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    border-right: 1px solid var(--grey-color);
    color: var(--blue-color);
}

.search__bar {
    flex-grow: 1;
    display: flex;
}

.search__bar .fa-pen {
    padding: 0 30px;
}

.search__bar label {
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
}

.search__bar label input[type="text"]{
    border: 0;
    outline: 0;
    padding: 5px;
    flex-grow: 1;
    font-size: 1.2rem;
    background-color: transparent;
}

.search__bar p {
    margin: 0;
}

.search__bar button {
    padding: 0 20px;
    height: 50px;
    font-size: 1.2rem;
    background-color: var(--blue-color);
    color: var(--light-color);
    border: 0;
    cursor: pointer;
    outline: 0;
    transition: .2s;
}

.search__bar button:hover {
    transform: scale(1.2);
}

.search__bar button .fa-search {
    padding-left: 15px;
}

.fa-arrow-down {
    border-right: 1px solid var(--grey-color);
    line-height: 50px;
    padding: 0 20px;
    color: var(--dark-color);
}

.main__nav .user__bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.main__nav .user__bar ul li a i{
    color: var(--blue-color);
    padding: 0 15px;
    margin: 0 5px;
    line-height: 50px;
    transition: .2s;
}

.main__nav .user__bar ul li a i:hover {
    background-color: var(--blue-color);
    color: var(--light-color);
    transform: scale(1.2);
}

/* Hamburger Menu */

.hamburger {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 3px;
    background-color: var(--blue-color);
    transition: .2s;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 13px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg);
    background-color: var(--red-color);
}

.hamburger--active .hamburger__inner::after {
    transform: translateY(-13px) rotate(-45deg);
    background-color: var(--red-color);
}
