header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    background-color: var(--light-color);
    display: flex;
    box-shadow: 0px 5px 15px var(--grey-color);
}

.main__nav {
    flex-grow: 1;
    height: 50px;
    display: flex;
    font-size: 1.5rem;
}

.main__nav--active {
    display: flex;
}

.logo {
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    color: var(--blue-color);
}

.search__bar {
    position: relative;
    flex-grow: 1;
    display: flex;
}

.search__bar .fa-pen {
    position: absolute;
    left: 30px;
}

.search__bar label {
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
}

.search__bar label input[type="text"]{
    border: 0;
    outline: 0;
    padding-left: 80px;
    flex-grow: 1;
    font-size: 1.2rem;
    background-color: transparent;
}

.search__bar p {
    margin: 0;
}

.search__bar button {
    padding: 0 20px;
    height: 50px;
    font-size: 1.2rem;
    background-color: transparent;
    color: var(--blue-color);
    border: 0;
    cursor: pointer;
    outline: 0;
    transition: .2s;
}

.search__bar button:hover {
    background-color: var(--blue-color);
    color: var(--light-color);
}

.search__bar button .fa-search {
    padding-left: 15px;
}

.fa-arrow-down {
    line-height: 50px;
    padding: 0 20px;
    color: var(--dark-color);
    transition: .2s;
}

.fa-arrow-down:hover {
    background-color: var(--grey-color);
    color: var(--light-color);
}

.main__nav .user__bar {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__nav .user__bar li {
    flex-basis: 33%;
    text-align: center;
}

.main__nav .user__bar li a i{
    width: 100%;
    line-height: 50px;
    color: var(--blue-color);
    transition: .2s;
}

.main__nav .user__bar li:hover a i {
    background-color: var(--blue-color);
    color: var(--light-color);
}

/* Hamburger Menu */

.hamburger {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 3px;
    background-color: var(--blue-color);
    transition: .2s;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 13px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg);
    background-color: var(--red-color);
}

.hamburger--active .hamburger__inner::after {
    transform: translateY(-13px) rotate(-45deg);
    background-color: var(--red-color);
}
