header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--light-color);
    display: flex;
    box-shadow: 0px 5px 15px var(--grey-color);
}

.main__nav {
    flex-grow: 1;
    height: 50px;
    display: flex;
    font-size: 1.3rem;
}

.main__nav.--show {
    display: flex;
}

.logo {
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    color: var(--blue-color);
}

.search__bar {
    position: relative;
    flex-grow: 1;
    display: flex;
}

.search__bar > .form__row {
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
    margin: 0;
    width: initial;
    border-bottom: initial;
}

.search__bar .form__row input[type="text"]{
    border: 0;
    outline: 0;
    flex-grow: 1;
    font-size: 1.2rem;
    background-color: transparent;
}

.search__bar p {
    margin: 0;
}

.search__bar > .submit {
    padding: 0 20px;
    height: 50px;
    font-size: 1.2rem;
    background-color: transparent;
    color: var(--blue-color);
    cursor: pointer;
    transition: .2s;
    border: initial;
    outline: initial;
    font-weight: initial;
    margin: initial;
    border-radius: initial;
    box-shadow: initial;
}

.search__bar .submit:hover {
    background-color: var(--blue-color);
    color: var(--light-color);
    box-shadow: none;
    transform: none;
}

.search__bar .submit .fa-search {
    padding-left: 15px;
}

.user__bar {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user__bar li {
    flex-grow: 1;
    text-align: center;
}

.user__bar li.--show {
    display: none;
}

.user__bar li a i{
    width: 100%;
    line-height: 50px;
    color: var(--blue-color);
    transition: .2s;
}

.user__bar li:hover a i,
.user__bar li a.--show i{
    background-color: var(--blue-color);
    color: var(--light-color);
}

/* Hamburger Menu */

.hamburger {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 3px;
    background-color: var(--blue-color);
    transition: .2s;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 13px;
}

.hamburger.--show .hamburger__inner {
    background-color: transparent;
}

.hamburger.--show .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg);
    background-color: var(--red-color);
}

.hamburger.--show .hamburger__inner::after {
    transform: translateY(-13px) rotate(-45deg);
    background-color: var(--red-color);
}
