main {
    margin-top: 100px;
    width: 60%;
}

.user__name {
    position: relative;
    color: var(--light-color);
    background-color: var(--blue-color);
    font-weight: bold;
    cursor: default;
    text-shadow: 0 0 5px var(--grey-color);
    padding: 1px 3px;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--grey-color);
    white-space: nowrap;
}

.img__wrapper {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.user__img {
    background-image: url(../assets/undraw_male_avatar_323b.svg);
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    transition: .2s;
}

.new__users {
    background-color: var(--light-color);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 0px 5px 10px var(--grey-color);
}

.new__users .user__wrapper {
    position: relative;
    margin: 10px 5px;
    height: 100px;
    border: 0;
    border-radius: 100px;
}

.new__users .user__wrapper:nth-child(3) .user__img,
.new__users .user__wrapper:nth-child(5) .user__img {
    background-image: url(../assets/undraw_female_avatar_w3jk.svg);
}

.new__users .user__name {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s;
    opacity: 0;
}

.user__wrapper:hover .user__img {
    transform: scale(1.2);
}

.new__users .user__wrapper:hover .user__name {
    transform: translate(-50%, -200%);
    opacity: 1;
}

.post__container {
    margin-bottom: 50px;
    position: relative;
    padding: 20px;
    background-color: var(--light-color);
    border-radius: 10px;
}

.post__container .user__img {
    margin-right: 20px;
}

.post__data {
    display: flex;
    align-items: center;
}

.post__container .user__name {
    padding: 1px 5px;
}

.user__data {
    margin-bottom: 15px;
}

.user__name,
.user__city,
.user__age {
    margin-right: 10px;
}

.user__city,
.user__age {
    color: var(--dark-color);
    cursor: default;
}

.user__name::before,
.user__city::before,
.user__age::before {
    margin-right: 5px;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.user__city::before,
.user__age::before {
    color: var(--blue-color);
}

.user__name::before {
    content: "\f007";
    color: var(--dark-color);
}

.user__city::before {
    content: "\f1ad";
}

.user__age::before {
    content: "\f133";
}

.container__mail,
.container__close {
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    background-color: transparent;
    color: var(--blue-color);
    cursor: pointer;
    font-size: 1.2rem;
    transition: .2s;
}

.container__mail i.fas {
    margin-left: 5px;
}

.container__close::before,
.container__close::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 2px;
    background-color: var(--dark-color);
    transition: .2s;
}

.container__close::before {
    transform: translate(-80%, -50%) rotate(45deg);
}

.container__close::after {
    transform: translate(-20%, -50%) rotate(-45deg);
}

.container__mail:hover {
    background-color: var(--yellow-color);
    color: var(--light-color);
    z-index: 10;
}

.container__close:hover {
    background-color: var(--green-color);
    z-index: 10;
}

.container__close:hover::before,
.container__close:hover::after {
    background-color: var(--light-color);
}

.post__content {
    padding: 10px 20px;
}

.post__content p {
    position: relative;
    margin: 0;
}

.post__content:not(:first-of-type) {
    height: 0;
    margin: 0;
    overflow: hidden;
    transition: .4s;
}

.post__data time {
    padding: 0 10px;
    font-style: italic;
    border-bottom: 1px solid var(--grey-color);
}

.post__data h2 {
    font-size: 1rem;
    margin: 0;
    display: inline;
}

.post__img {
    width: 20vw;
    height: 20vw;
    float: left;
    border-radius: 10000px;
    shape-outside: circle();
    margin-right: 20px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.post__container.--show .post__content{
    margin-top: 30px;
    height: auto;
}

.post__container.--show .container__close::before,
.post__container.--show .container__close::after {
    width: 20px;
}

.post__container.--show .container__close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.post__container.--show .container__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.post__container.--show .container__close:hover {
    background-color: var(--red-color);
}