@media screen and (min-width: 600px){
	.content__nav{
		width: auto;
		height: auto;
		display: block;
		background-color: none;
		top: 185px;
		z-index: 500;
	}

	.content__nav > ul, ul li {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.content__nav > ul {
		width: 200px;
		padding: 2px 2px 1px 2px;
		border: none;
	}

	.content__nav > ul li {
		border-bottom: 1px solid #9ce;
	}

	.content__nav > ul a:link, ul a:visited {
		display: block;
		width: 176px;
		text-decoration: none;
		padding: 7px;
		font-weight: bold;
		color: #000;
		border-left: 10px solid #aaa;
	}

	.content__nav > ul a:hover {
		width: 166px;
		color: #000;
		border-left: 20px solid #aaa;
	}

	.content__nav ul>li>ol>li{
		display: none;
	}

	.content__nav>ul>li:hover>ol>li{
		display: block;
	}
}


@media screen and (max-width: 600px){
	.content__nav{
		width: auto;
		height: auto;
		display: block;
		background-color: none;
		top: 185px;
		z-index: 500;
		display: none;	
	}

	.content__nav > ul, ul li {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.content__nav > ul {
		width: 200px;
		padding: 2px 2px 1px 2px;
		border: none;
	}

	.content__nav > ul li {
		border-bottom: 1px solid #9ce;
	}

	.content__nav > ul a:link, ul a:visited {
		display: block;
		width: 176px;
		text-decoration: none;
		padding: 7px;
		font-weight: bold;
		color: #000;
		border-left: 10px solid #aaa;
	}

	.content__nav > ul a:hover {
		width: 166px;
		color: #000;
		border-left: 20px solid #aaa;
	}

	.content__nav ul>li>ol>li{
		display: none;
	}

	.content__nav>ul>li:hover>ol>li{
		display: block;
	}
}