@media all and (max-width: 960px) {
    main {
        width: 100%;
    }

    header {
        display: block;
    }

    .logo {
        border: 0;
    }

    .main__nav {
        flex-wrap: wrap;
        height: 0;
        overflow: hidden;
        transition: .2s;
    }

    .main__nav.--show {
        display: flex;
        height: 100px;
    }

    .search__bar {
        display: flex;
        align-self: center;
    }

    .search__bar label {
        flex-grow: 1;
        margin: 15px 0;
    }

    .search__bar label input[type="text"]{
        text-align: center;
    }

    .fa-arrow-down {
        display: none;
    }

    .user__bar {
        flex-basis: 100%;
        align-self: flex-end;
    }

    .main__nav .user__bar ul {
        width: 100%;
        flex-wrap: wrap;
    }

    .main__nav .user__bar ul li {
        flex-basis: 100%;
        text-align: center;
    }

    .hamburger {
        display: block;
    }

    .user__container {
        padding: 30px 5px;
    }

    .article__content {
        padding: 10px;
    }

    .user__data {
        flex-wrap: wrap;
    }


    .form__login.--show {
        width: 100vw;
        height: 100vh;
    }
}

@media all and (max-width: 540px) {
    .search__bar {
        display: flex;
        align-self: center;
        flex-wrap: wrap;
    }

    .main__nav.--show {
        height: 150px;
    }

    .search__bar button[type="submit"] {
        flex-grow: 1;
        padding-left: 90px;
    }
}