@media all and (max-width: 960px) {
    main {
        width: 100%;
    }

    header {
        display: block;
    }

    .logo {
        border: 0;
    }

    .main__nav {
        flex-wrap: wrap;
        height: 0;
        overflow: hidden;
        transition: .2s;
    }

    .main__nav.--show {
        display: flex;
        height: 100px;
    }

    .search__bar {
        display: flex;
        align-self: center;
    }

    .search__bar label {
        flex-grow: 1;
        margin: 15px 0;
    }

    .search__bar label input[type="text"]{
        text-align: center;
    }

    .fa-arrow-down {
        display: none;
    }

    .user__bar {
        flex-basis: 100%;
        align-self: flex-end;
    }

    .main__nav .user__bar ul {
        width: 100%;
        flex-wrap: wrap;
    }

    .main__nav .user__bar ul li {
        flex-basis: 100%;
        text-align: center;
    }

    .hamburger {
        display: block;
    }

    .user__container {
        padding: 30px 5px;
    }

    .article__content {
        padding: 10px;
    }

    .user__data,
    .article__data {
        flex-wrap: wrap;
    }

    .form {
        top: 0;
        left: 0;
    }

    .form.--show {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .form__row {
        width: 300px;
    }

    .post__img {
        width: 30vw;
        height: 30vw;
    }
}

@media all and (max-width: 540px) {
    .search__bar {
        display: flex;
        align-self: center;
        flex-wrap: wrap;
    }

    .search__bar .fa-pen {
        display: none;
    }

    .main__nav.--show {
        height: 150px;
    }

    .search__bar label {
        width: 100%;
    }

    .search__bar label input[type="text"] {
        padding: 0;
    }

    .search__bar button[type="submit"] {
        flex-grow: 1;
    }

    .form__row {
        width: 100%;
    }

    .post__img {
        width: 50vw;
        height: 50vw;
    }

    .post__container {
    display: none;
    transform: translateX(90vw);
    -webkit-transform: translateX(90vw);
    }

    .post__container.--load {
    display: block;
    transform: translateX(0vw);
    -webkit-transform: translateX(0vw);
    }
}
