@media all and (max-width: 960px) {
    main {
        width: 100%;
    }

    header {
        display: block;
    }

    .logo {
        border: 0;
    }

    .main__nav {
        flex-wrap: wrap;
        height: 0;
        overflow: hidden;
        transition: .2s;
    }

    .main__nav.--show {
        display: flex;
        height: 100px;
        overflow: initial;
    }

    .search__bar {
        display: flex;
        align-self: center;
    }

    .search__bar label {
        flex-grow: 1;
        margin: 15px 0;
    }

    .search__bar label input[type="text"]{
        text-align: center;
    }

    .fa-arrow-down {
        display: none;
    }

    .user__bar {
        flex-basis: 100%;
        align-self: flex-end;
    }

    .main__nav .user__bar ul {
        width: 100%;
        flex-wrap: wrap;
    }

    .main__nav .user__bar ul li {
        flex-basis: 100%;
        text-align: center;
    }

    .hamburger {
        display: block;
    }

    .user__container {
        padding: 30px 5px;
    }

    .article__content {
        padding: 10px;
    }

    .form {
        top: 0;
        left: 0;
    }

    .form.--show {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .form__row {
        width: 300px;
    }

    .post__creator.--show .form__post {
        height: 400px;
    }

    .form__post .article__data .form__row,
    .form__post .article__data time {
        margin-top: 15px;
    }

    .main__nav .form__close {
        display: initial;
    }

    .form__container {
        width: initial;
    }
}

@media all and (max-width: 540px) {
    .info__alert.--show {
        width: 80%;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px 100vh rgba(0,0,0, 0.7);
        display: flex;
    }

    .search__bar {
        display: flex;
        align-self: center;
        flex-wrap: wrap;
    }

    .search__bar .fa-pen {
        display: none;
    }

    .main__nav.--show {
        height: 150px;
    }

    .search__bar label {
        width: 100%;
    }

    .search__bar label input[type="text"] {
        padding: 0;
    }

    .search__bar > .submit {
        flex-grow: 1;
    }

    .form__row {
        width: 100%;
    }
}
