@media all and (max-width: 960px) {
    main {
        width: 100%;
    }

    header {
        display: block;
    }

    .main__nav {
        flex-wrap: wrap;
        display: none;
    }

    .main__nav--active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .user__container {
        padding: 30px 5px;
    }

    .article__content {
        padding: 10px;
    }

    .user__data {
        flex-wrap: wrap;
    }
}