@import "header.css";
@import "navigation.css";
@import "main.css";
@import "post.css";
@import "aside.css";
@import "form.css";
@import "alert.css";

@import "rwd.css";

* {
    box-sizing: border-box;
}

:root {
    --dark-color: black;
    --light-color: white;
    --grey-color: #707070;
    --web-wash: #F0F2F5;
    --light-grey-color: #cccccc;
    --red-color: #EA2027;
    --green-color: #A3CB38;
    --blue-color: #00B0FF;
    --yellow-color: #FFC312;
    --purple-color: #833471;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.background-img {
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--web-wash);
    background-image: url(../assets/undraw_in_love_3dcq.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

button:active, a:active, i:active {
    transform: scale(.9);
}

.submit:disabled {
    background-color: var(--grey-color);
    color: var(--light-color);
    box-shadow: 0 2px 2px rgba(255,255,255, .5),
                0 -3px rgba(0,0,0, .5);
    transform: scale(.9);
    cursor: default;
}

.loading {
    position: relative;
    opacity: .5;
}

.loading::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-right-color: rgba(0,0,0, 1);
    animation: rotateLoading 0.4s infinite linear;
    z-index: 10;
}

@keyframes rotateLoading{
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}