@import "header.css";
@import "navigation.css";
@import "main.css";
@import "aside.css";
@import "form.css";

@import "rwd.css";

* {
    box-sizing: border-box;
}

:root {
    --dark-color: black;
    --light-color: white;
    --grey-color: #707070;
    --light-grey-color: #cccccc;
    --red-color: #EA2027;
    --green-color: #A3CB38;
    --blue-color: #00B0FF;
    --yellow-color: #FFC312;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.background-img {
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-grey-color);
    background-image: url(../assets/undraw_in_love_3dcq.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

button:active, a:active, i:active {
    transform: scale(.9);
}